
#share_button a {
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.04em;
    top: 0px;
    opacity: 0.6;
    font-family: arial;
    font-size: 11px;
    background: rgb(0, 0, 0);
    margin: 3px 3px 4px 0px;
    padding: 4px 11px;
    text-decoration: none;
    border-radius: 16px;
    transition: opacity 0.3s ease 0s;
}


  

  .wrapper{

      display: flex;

  }

  .wrapper .item{

      text-align: center;
    
      background-color: cadetblue;
  }

  @media (max-width:765px){
    .navbar{
        background-color: white;  
    }

    .editorial{
      background-color: lawngreen;
      height: 500px;
      margin-top: 19%;
    }

    .bblog{
      margin-top: 128px;
    }
    .blog{
      width: 90%;
      margin-top: 100px;
    }

    .nav{
        text-align: center;
       
       justify-content: center;
        margin-top: 15%;
        height:500px;
        background-color:white;

    }
    ul>li{
        
        height: 10%;
       
    }

    ul>ul>li{
        
        margin-left: 3%;
     
    }

    .linkedIn{
        margin-top: 30%;
    }

  
}

@media (min-width:765px){
    .navbar{
        background-color: white;
       width: 252px;
       margin-left: 3%;
    }
    .social_icons{
        margin-top: 180px;
    }
    .nav{
        text-align: left;
        
        margin-top: 10%;

        height: 700px;
        background-color: white;
    }
    .editorial{
      margin-top: 4%;
      height: 550px;
      
    }
    .brandname{
      margin-top: 20%;
    }

    .bblog{
      margin-left: 150px;
    }
}

@media(min-width:500px){
    .collapsed{
        margin-left: 300px;
    }
}


 